<div class="bar bar-standard bar-footer-secondary mb-51" id="salva">
    <button class="btn btn-primary btn-block ">Aggiungi</button>
</div>
<div class="content content-padded">
    <form class="input-group">
        <div class="input-row">
            <label>Da</label> <input id="inizio" class="datepicker" placeholder="Inserici Data">
        </div>
        <div class="input-row">
            <label>A</label> <input id="fine" class="datepicker" placeholder="Inserici Data">
        </div>
    </form>
</div>