<div class="bar bar-standard bar-footer-secondary mb-91" id="esporta_farmaci">
    <button class="btn btn-block btn-primary">Tutti i farmaci <span class=" icon-share"></span></button>
</div>
<div class="bar bar-standard bar-footer-secondary mb-51" id="esporta_terapie">
    <button class="btn btn-block btn-positive">Terapie <span class=" icon-share"></span></button>
</div>
<div>
    <ul class="table-view filter" id="patologie">
        <li class="table-view-cell">
            Pressione arteriosa sistemica
            <div class="toggle active ">
                <div class="toggle-handle"></div>
            </div>
        </li>
        <li class="table-view-cell">
            Diabete
            <div class="toggle  ">
                <div class="toggle-handle"></div>
            </div>
        </li>
        <li class="table-view-cell">
            Febbre
            <div class="toggle active ">
                <div class="toggle-handle"></div>
            </div>
        </li>
    </ul>
    <form class="input-group settings">
        <div class="input-row">
            <label>Da</label>
            <input class="pull-left" id="dataallarme" type="date" placeholder="" value=""/>
        </div>
        <div class="input-row">
            <label>A</label>
            <input class="pull-left" id="dataallarme" type="date" placeholder="" value=""/>
        </div>
    </form>
</div>