	<ul class="table-view settings">
		<li class="table-view-cell" >Sincronizzazione
			<div class="toggle" id="sync">
				<div class="toggle-handle"></div>
			</div>
		</li>
		<li class="table-view-cell">Modalità sos
			<div class="toggle alarm" id="sos">
				<div class="toggle-handle"></div>
			</div>
		</li>
	</ul>
	<form class="input-group settings">
		<div class="input-row">
			<label>Contatto sms</label> <input id='sms' type="tel" placeholder="inserisci numero" 
			value={{sms}}>
		</div>
		<div class="input-row">
			<label>Contatto email</label> <input type="email" placeholder="inserisci email" id="email" 
			 value={{email}} >
		</div>

	</form>
