<header class="bar bar-nav">
    <h1 class="title">Notifiche</h1>
</header>
<div class="content">
    <ul class="table-view notifications">
        <li class="table-view-cell media allarmeFarmaco" id="0">
            <a >
                <div class="media-object pull-left">
                    <span class="icon icon-notification icon-pill"></span>
                </div>
                <div class="media-body">
                    Farmacox 2 gocce
                    <p class="subtitle">Asma</p>
                </div>
                <span class="badge badge-primary">16:46</span>
            </a>
        </li>
        <li class="table-view-cell media allarmeMisurazione" id="0">
            <a >
                <div class="media-object pull-left">
                    <span class="icon icon-notification icon-thermometer"></span>
                </div>
                <div class="media-body">
                    Controlla glicemia
                    <p class="subtitle">Diabete</p>
                </div>
                <span class="badge badge-primary">16:32</span>
            </a>
        </li>
        <li class="table-view-cell media allarmeNota" id="0">
            <a >
                <div class="media-object pull-left">
                    <span class="icon icon-compose"></span>
                </div>
                <div class="media-body">
                    Neo
                    <p class="subtitle"> Melanoma
                    <p>
                    <p>Prenota visita</p>
                </div>
                <span class="badge badge-primary">15:57</span>
            </a>
        </li>
        <li class="table-view-cell media allarmeMessaggio" id="0">
            <a >
                <div class="media-object pull-left">
                    <span class="icon icon-notification icon-message"></span>
                </div>
                <div class="media-body">
                    Ricetta pronta
                    <p class="subtitle"> Diabete

                    <p>

                    <p>Passa a prenderla per le 10:00</p>
                </div>
                <span class="badge badge-primary">15:57</span>
            </a>
        </li>
    </ul>
</div>
