<header class="bar bar-nav">
    <a class="icon pull-right" ></a>
    <a class="icon pull-left" ></a>
     <input class="title " type="text" placeholder="Cerca" id='cerca' >
    <h1 class="title " id="title"></h1>
</header>

<nav class="bar bar-tab bar-footer" id="bar-footer">

        <a class="tab-item  active" href="#" id="nav_home">
            <span class="icon icon-home"></span>
            <span class="tab-label">Home</span>
        </a>
        <a class="tab-item " href="#" id="nav_notifiche">
            <i class="icon fa fa-user-md"></i>
            <span class="tab-label">Notifiche</span>
            <!-- notifiche is passed from StructureView -->
            <span id="badge" class=  "badge-negative"></span>
        </a>
        <a class="tab-item " href="#" id="nav_patologie">
            <i class="icon fa fa-stethoscope"></i>
            <span class="tab-label">Patologie</span>
        </a>
        <a class="tab-item" href="#" id="nav_farmaci">
            <i class="icon fa fa-medkit"></i>
            <span class="tab-label">Farmaci</span>
        </a>
        <a class="tab-item" href="#" id="nav_note">
            <span class="icon icon-compose"></span>
            <span class="tab-label">Note</span>
        </a>
</nav>

<div class="modal" id="modal">
    <header class="bar bar-nav">
        <a class="icon icon-close pull-right" id="close"></a>
        <h1 class="title"></h1>
    </header>

</div>

